<f:section name="FooterAssets">
    <script src="{f:uri.resource(path: 'JavaScript/Src/main.js')}"></script>
</f:section>

<div id="bedankt">
    <h4>Vielen Dank für Ihre Anmeldung. Bitte kommen Sie während der Öffnungszeiten der Leihstelle in die Universitätsbibliothek um Ihre Anmeldung abzuschließen.</h4>
</div>
