<f:section name="FooterAssets">
     
    <script src="{f:uri.resource(path: 'JavaScript/Src/routinen.js')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/Src/register.js')}"></script>
</f:section>

<f:form action="create" id="anmeldeformular">
    <div id="anmeldeformular-personaldata">
        
        <br /><br />
        <h3>Persönliche Angaben / Personal data</h3>

        <div class="anmeldeformrow">
            <div class="anmeldeformbox2">
                <label for="last_name">Flammenwerfer / Last Name</label>
                <f:form.textfield  required="true" id="last_name" name="last_name" value="" maxlength="40"/>
            </div>
            <div class="anmeldeformbox2">
                <label for="first_name">Vorname / First Name</label>
                <f:form.textfield id="first_name" name="first_name" value="" maxlength="15" required="true"/>
            </div>
        </div>
       
        <div class="anmeldeformrow">
            <div class="anmeldeformbox075">
                <label for="title">Akad. Titel / Acad. Title</label>
                <f:form.select id="title" name="title" required="true" prependOptionLabel="Bitte wählen / Please choose" prependOptionValue="" options="{' ': ' ', 'Prof. Dr.': 'Prof. Dr.', 'Prof': 'Prof.', 'Dr.': 'Dr.'}" required="true"/>
            </div>
            <div class="anmeldeformbox05">
                <label for="sex">Geschlecht / Sex</label>
                <f:form.select name="sex" id="sex" value="" prependOptionLabel="Bitte wählen / Please choose" prependOptionValue="" options="{u: 'divers', m: 'männlich', w: 'weiblich'}" required="true"/>
            </div>
            <div class="anmeldeformbox05">
                    <label for="birthday_date">Geburtsdatum / Date of Birth</label>
                    <f:form.textfield name="birthday_date" value="" id="birthday_date" pattern="{date}" placeholder="JJJJ-MM-TT / YYYY-MM-DD" required="true"/>
            </div>
        </div>
        
        <div class="anmeldeformrow">
   
            <div class="anmeldeformbox2">
                <label for="usertype">Status</label>
                <f:form.select id="usertype" name="usertype" prependOptionLabel="Bitte wählen / Please choose" prependOptionValue="" value="" options="{1: 'Student/in an der TU BS',2: 'Student/in an der Ostfalia',3: 'Student/in an der HBK',4: 'Prof. / Wiss. Mitarbeiter/in an der TU BS',5: 'Gastwissenschaftler/in an der TU BS',6: 'TU-Mitarbeiter/in aus Technik und Verwaltung',14: 'Mitarbeiter/in an der Ostfalia',15: 'Mitarbeiter/in an der HBK',7: 'Mitarbeiter/in des JKI',9: 'Mitarbeiter/in am DLR',10: 'Mitarbeiter/in des vTI oder FLI',11: 'Mitarbeiter/in des HZI',12: 'Mitarbeiter/in der PTB',13: 'Sonstige/r Nutzer/in',36: 'Student/in im Orientierungsstudium'}" required="true" />
            </div>
            <div class="anmeldeformbox1">
                <label for="student_id">Matrikelnummer / Student ID</label>
                <f:form.textfield id="student_id" name="student_id" value=""/>
            </div>

        </div>

        

        <div class="anmeldeformrow" style="margin-bottom:2rem">
            <div class="form-check">
                <input class="add-on" id="email_checkbox" type="checkbox" name="email_checkbox" value="f">
                <label class="add-on form-check-label" for="email_checkbox">Benachrichtigung per E-Mail
                    Falls gewünscht, nebenstehend Haken setzen. Näheres siedasdsahe unten!
                    E-Mail Notification. See below for details
                </label>
            </div>
        </div>

        <div class="anmeldeformrow">
            <div class="anmeldeformbox2">
                <label for="email">E-Mail</label>
                <f:form.textfield name="email" class="emails" id="email" value="" required="false" type="email" />     
            </div>
            <div class="anmeldeformbox2">
                <label for="email_confirm">E-Mail (Wdh.) / (rpt.)</label>
                <f:form.textfield name="email_confirm" class="emails" id="email_confirm" value="" type="email" required="false" title=""/>
            </div>  
        </div>
                        
    </div>

    <div id="anmeldeformular_adresse">
        <h4>Adressdaten / Address data</h4>       

        <h5 id="ersteAdresse">Erster Wohnsitz / First Address</h5>
        <f:form.textfield  id="adresstype_1" name="adresstype_1" value="" disabled />
        <div class="anmeldeformrow">
            <div class="anmeldeformbox1">
                <label for="carry_over_1">bei / at</label>
                <f:form.textfield id="carry_over_1" name="carry_over_1" value="" maxlength="64"/>
            </div>
        </div>
            
        <div class="anmeldeformrow">
            <div class="anmeldeformbox3">
                <label for="street_1">Str. / Street</label>
                <f:form.textfield id="street_1" name="street_1" value="" maxlength="45" required="true"/>
            </div>
            <div class="anmeldeformbox05">
                <label for="house_1">Nr. / No.</label>
                <f:form.textfield id="house_1" name="house_1" value="" maxlength="6" required="true"/>
            </div>
            <div class="anmeldeformbox05">
                <label for="room_1">Zimmer / Room</label>
                <f:form.textfield id="room_1" name="room_1" value="" maxlength="10"/>
            </div>    
        </div>
            
        <div class="anmeldeformrow">
            <div class="anmeldeformbox1">
                <label for="zip_1">PLZ / ZIP</label>
                <f:form.textfield id="zip_1" name="zip_1" value="" size="5" maxlength="5" required="true"/>
            </div>
            <div class="anmeldeformbox3">
                <label for="town_1">Ort / City</label>
                <f:form.textfield id="town_1" name="town_1" value="" size="64" maxlength="64" required="true"/></span>
            </div>
        </div>
            
        <div class="anmeldeformrow">
            <div class="anmeldeformbox2">
                <label for name="phone_1">Telefon / Phone</label>
                <f:form.textfield id="phone_1" name="phone_1" value="" maxlength="20"/>
            </div>
            <div class="anmeldeformbox2">
                <label for name="mobile_1">Mobil / Mobile </label>
                <f:form.textfield id="mobile_1" name="mobile_1" value="" maxlength="20"/>
            </div>
        </div>

        <h5 id="zweiteAdresse">Weiterer Wohnsitz / Further Address</h5>     
        <f:form.textfield id="adresstype_2" name="adresstype_2" value="" disabled />
        <div class="anmeldeformrow">
            <div class="anmeldeformbox1">
                <label for="carry_over_2">bei / at</label>
                <f:form.textfield name="carry_over_2" id="carry_over_2" value="" maxlength="64"/>
            </div>
        </div>
            
        <div class="anmeldeformrow">
            <div class="anmeldeformbox3">
                <label for="street_2">Str. / Street</label>
                <f:form.textfield id="street_2" name="street_2" value="" maxlength="45"/>
            </div>
            <div class="anmeldeformbox05">
                <label for="house_2">Nr. / No.</label>
                <f:form.textfield name="house_2" id="house_2" value="" maxlength="6"/>
            </div>
            <div class="anmeldeformbox05">
                <label for="room_2">Zimmer / Room</label>
                <f:form.textfield name="room_2" id="room_2" value="" maxlength="10"/>
            </div>    
        </div>
            
        <div class="anmeldeformrow">
            <div class="anmeldeformbox1">
                <label for="zip_2">PLZ / ZIP</label>
                <f:form.textfield name="zip_2" id="zip_2"value="" size="5" maxlength="5"/>
            </div>
            <div class="anmeldeformbox3">
                <label for="town_2">Ort / City</label>
                <f:form.textfield name="town_2" id="town_2" value="" size="64" maxlength="64"/></span>
            </div>
        </div>
            
        <div class="anmeldeformrow">
            <div class="anmeldeformbox2">
                <label for name="phone_2">Telefon / Phone</label>
                <f:form.textfield name="phone_2" id="phone_2"  value="" maxlength="20"/>
            </div>
            <div class="anmeldeformbox2">
                <label for name="mobile_1">Mobil / Mobile </label>
                <f:form.textfield name="mobile_2"  id="mobile_2" value="" maxlength="20"/>
            </div>
        </div>
        <div class="form-group">
		
            <div class="input checkbox">
                
                    
            <div class="form-check">
                <input type="hidden" name="tx_form_formframework[beispielformular-533660][checkbox-1]" value=""><input required="required" class="add-on" id="beispielformular-533660-checkbox-1" type="checkbox" name="tx_form_formframework[beispielformular-533660][checkbox-1]" value="1">
                <label class="add-on form-check-label" for="beispielformular-533660-checkbox-1">Ich akzeptiere die Datenschutzbedingungen.<br />
                    Ich habe die Benutzungsordnung gelesen und stimme zu / I have read and agreed to the terms of use.
    <span class="required">*</span>
    
    </label>
            </div>
        
    
                
            </div>
       
        <f:form.button id="anmeldeform-btn">Registrieren / Register</f:form.button>
    </div>

    
</f:form>
